// ----------------
//  Default Colors
// ----------------

$white: #fff;
$black: #000;

// -------------
//  Flat Colors
// -------------

// Greens
$flat_turquoise: #1ABC9C;
$flat_green-sea: #16A085;
$flat_emerald: #2ECC71;
$flat_nephritis: #27AE60;

// Blues
$flat_peter-river: #3498DB;
$flat_belize-hole: #2980B9;
$flat_wet-asphalt: #34495E;
$flat_midnight-blue: #2C3E50;

// Reds and Purples
$flat_alizarin: #E74C3C;
$flat_pomegranate: #C0392B;
$flat_amethyst: #9B59B6;
$flat_wisteria: #8E44AD;

// Yellows and Oranges
$flat_sunflower: #F1C40F;
$flat_orange: #F39C12;
$flat_carrot: #E67E22;
$flat_pumpkin: #D35400;

// Grays
$flat_clouds: #ECF0F1;
$flat_silver: #BDC3C7;
$flat_concrete: #95A5A6;
$flat_asbestos: #7F8C8D;
